<h1 ng-bind="title"></h1>
<div class="text-center" ng-show="kanacounter > 0">
    <p style="font-size:500%" title="{{result}}"><span ng-mouseenter="kana = result" ng-mouseleave="kana = currentKana">{{kana}}</span></p>
    <form ng-submit="checkGuess()">
        <input type="text" ng-model="guess" maxlength="3" length="3" ng-maxlength="3" minlength="1" ng-minlength="1" placeholder="rōmaji for {{currentKana}}?" autofocus />
    </form>
    <p ng-if="msg" class="alert alert-danger">いいえ！<br/>Try again or hover over the <span ng-bind="kanatype"></span> to get the right solution.</p>
    <p><span ng-bind="kanacounter"></span> left</p>
</div>
<div class="text-center" ng-if="kanacounter == 0">
    <p>Done!</p>
    <p ng-if="mistakes">Practice these <span ng-bind="kanatype"></span>, cause you got them wrong this time.
        <div ng-repeat="mistake in mistakes">{{mistake}}<br/></div>
    </p>
    <p ng-hide="mistakes">Perfect score!</p>
    <button title="One more time!" ng-click="restart()">もういちど！</button>
</div>
